In [10]:
import pandas as pd

file_path = r'C:\Users\Admin\Desktop\WorkShop_#1\candidates (1).csv'

df = pd.read_csv(file_path, delimiter=';')

# Verificar los nombres de las columnas nuevamente
print(df.columns)

Index(['First Name', 'Last Name', 'Email', 'Application Date', 'Country',
       'YOE', 'Seniority', 'Technology', 'Code Challenge Score',
       'Technical Interview Score'],
      dtype='object')

In [2]:
print(df.columns)

Index(['First Name', 'Last Name', 'Email', 'Application Date', 'Country',
       'YOE', 'Seniority', 'Technology', 'Code Challenge Score',
       'Technical Interview Score'],
      dtype='object')

In [3]:
# Filtrar los candidatos contratados
df['hired'] = (df['Code Challenge Score'] >= 7) & (df['Technical Interview Score'] >= 7)

# Filtrar los datos necesarios para cargar en la base de datos (solo los candidatos contratados)
df_hired = df[df['hired'] == True]

# Mostrar las primeras filas del DataSet filtrado
print(df_hired.head())

   First Name   Last Name                      Email Application Date  \
2       Larue      Spinka   okey_schultz41@gmail.com       2020-04-14
4       Larue  Altenwerth  minnie.gislason@gmail.com       2020-05-20
8        Mose       Lakin   dale_murazik@hotmail.com       2018-03-13
13      Hilda   Rodriguez   jordan.hyatt@hotmail.com       2020-05-09
22   Crawford     Ullrich      bruce.koch7@yahoo.com       2021-01-09

        Country  YOE  Seniority                         Technology  \
2       Belarus    4  Mid-Level                     Client Success
4       Myanmar   13  Mid-Level  Social Media Community Management
8         Italy   18       Lead  Social Media Community Management
13  El Salvador   16     Junior              System Administration
22     Dominica   14     Junior                   Game Development

    Code Challenge Score  Technical Interview Score  hired
2                     10                          9   True
4                      9                          7   True
8                      7                         10   True
13                     7                          8   True
22                     8                          8   True

In [4]:
# Renombrar las columnas en el DataSet para que coincidan con los nombres que le pusimos en PostGresSql
df_hired.rename(columns={
    "First Name": "first_name",
    "Last Name": "last_name",
    "Email": "email",
    "Country": "country",
    "Application Date": "application_date",
    "YOE": "yoe",
    "Seniority": "seniority",
    "Technology": "technology",
    "Code Challenge Score": "code_challenge_score",
    "Technical Interview Score": "technical_interview_score"
}, inplace=True)

# Verificar los nuevos nombres de las columnas
print(df_hired.columns)

Index(['first_name', 'last_name', 'email', 'application_date', 'country',
       'yoe', 'seniority', 'technology', 'code_challenge_score',
       'technical_interview_score', 'hired'],
      dtype='object')

C:\Users\Admin\AppData\Local\Temp\ipykernel_17188\2943517848.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hired.rename(columns={

In [5]:
# Eliminar la columna 'hired' del DataSet
df_hired = df_hired.drop(columns=['hired'])

# Verificar que la columna se haya eliminado
print(df_hired.columns)

Index(['first_name', 'last_name', 'email', 'application_date', 'country',
       'yoe', 'seniority', 'technology', 'code_challenge_score',
       'technical_interview_score'],
      dtype='object')

In [6]:
# Verificar la longitud máxima de cada columna en el DataSet
print("Máxima longitud en 'first_name':", df_hired['first_name'].str.len().max())
print("Máxima longitud en 'last_name':", df_hired['last_name'].str.len().max())
print("Máxima longitud en 'email':", df_hired['email'].str.len().max())
print("Máxima longitud en 'country':", df_hired['country'].str.len().max())
print("Máxima longitud en 'seniority':", df_hired['seniority'].str.len().max())
print("Máxima longitud en 'technology':", df_hired['technology'].str.len().max())

Máxima longitud en 'first_name': 11
Máxima longitud en 'last_name': 13
Máxima longitud en 'email': 34
Máxima longitud en 'country': 51
Máxima longitud en 'seniority': 9
Máxima longitud en 'technology': 39

In [7]:
df_hired['first_name'] = df_hired['first_name'].str.strip()
df_hired['last_name'] = df_hired['last_name'].str.strip()
df_hired['country'] = df_hired['country'].str.strip()
df_hired['seniority'] = df_hired['seniority'].str.strip()
df_hired['technology'] = df_hired['technology'].str.strip()

In [8]:
from sqlalchemy import create_engine

# Crear la conexión a la base de datos PostgreSQL
engine = create_engine('postgresql+psycopg2://postgres:password@localhost:5432/candidatos')

# Cargar los datos filtrados en la tabla 'candidatos' de PostgreSQL
df_hired.to_sql('candidatos', engine, if_exists='append', index=False)

698

In [9]:
import pandas as pd
from sqlalchemy import create_engine

# Crear la conexión a la base de datos PostgreSQL
engine = create_engine('postgresql+psycopg2://postgres:password@localhost:5432/candidatos')

# Leer los datos de la tabla 'candidatos' en un DataFrame de Pandas
df_candidatos = pd.read_sql('SELECT * FROM candidatos', engine)

# Mostrar los primeros registros del DataFrame para verificar los datos
print(df_candidatos.head())

   id first_name   last_name                      email      country  \
0   1      Larue      Spinka   okey_schultz41@gmail.com      Belarus
1   2      Larue  Altenwerth  minnie.gislason@gmail.com      Myanmar
2   3       Mose       Lakin   dale_murazik@hotmail.com        Italy
3   4      Hilda   Rodriguez   jordan.hyatt@hotmail.com  El Salvador
4   5   Crawford     Ullrich      bruce.koch7@yahoo.com     Dominica

  application_date  yoe  seniority                         technology  \
0       2020-04-14    4  Mid-Level                     Client Success
1       2020-05-20   13  Mid-Level  Social Media Community Management
2       2018-03-13   18       Lead  Social Media Community Management
3       2020-05-09   16     Junior              System Administration
4       2021-01-09   14     Junior                   Game Development

   code_challenge_score  technical_interview_score
0                  10.0                        9.0
1                   9.0                        7.0
2                   7.0                       10.0
3                   7.0                        8.0
4                   8.0                        8.0

In [22]:
import pandas as pd

# Cargar los datos desde el archivo CSV
df = pd.read_csv(r'C:\Users\Admin\Desktop\WorkShop_#1\candidates (1).csv')

# Mostrar las primeras filas para asegurarnos de que se cargó correctamente
print(df.head())

  First Name;Last Name;Email;Application Date;Country;YOE;Seniority;Technology;Code Challenge Score;Technical Interview Score
0  Bernadette;Langworth;leonard91@yahoo.com;2021-...
1  Camryn;Reynolds;zelda56@hotmail.com;2021-09-09...
2  Larue;Spinka;okey_schultz41@gmail.com;2020-04-...
3  Arch;Spinka;elvera_kulas@yahoo.com;2020-10-01;...
4  Larue;Altenwerth;minnie.gislason@gmail.com;202...

In [19]:
# Mostrar los nombres de las columnas en el DataSet
print(df.columns)

Index(['First Name;Last Name;Email;Application Date;Country;YOE;Seniority;Technology;Code Challenge Score;Technical Interview Score'], dtype='object')

In [23]:
# Separar las columnas con ';' como delimitador
df = pd.read_csv(r'C:\Users\Admin\Desktop\WorkShop_#1\candidates (1).csv', sep=';')

# Agregar la columna 'status'
df['status'] = ['Contratado' if (row['Code Challenge Score'] >= 7 and row['Technical Interview Score'] >= 7) else 'No Contratado' for index, row in df.iterrows()]

# Verificar que la columna 'status' fue agregada correctamente
print(df.head())

   First Name   Last Name                      Email Application Date  \
0  Bernadette   Langworth        leonard91@yahoo.com       2021-02-26
1      Camryn    Reynolds        zelda56@hotmail.com       2021-09-09
2       Larue      Spinka   okey_schultz41@gmail.com       2020-04-14
3        Arch      Spinka     elvera_kulas@yahoo.com       2020-10-01
4       Larue  Altenwerth  minnie.gislason@gmail.com       2020-05-20

   Country  YOE  Seniority                         Technology  \
0   Norway    2     Intern                      Data Engineer
1   Panama   10     Intern                      Data Engineer
2  Belarus    4  Mid-Level                     Client Success
3  Eritrea   25    Trainee                          QA Manual
4  Myanmar   13  Mid-Level  Social Media Community Management

   Code Challenge Score  Technical Interview Score         status
0                     3                          3  No Contratado
1                     2                         10  No Contratado
2                    10                          9     Contratado
3                     7                          1  No Contratado
4                     9                          7     Contratado

In [24]:
from sqlalchemy import create_engine

# Crear la conexión a la base de datos PostgreSQL
engine = create_engine('postgresql+psycopg2://postgres:password@localhost:5432/candidatos')

# Cargar todos los datos, incluidos los que no pasaron, en la tabla 'candidatos'
df.to_sql('candidatos', engine, if_exists='replace', index=False)

1000

In [1]:
import pandas as pd

# Cargar el archivo CSV original
df_original = pd.read_csv(r'C:\Users\Admin\Desktop\WorkShop_#1\candidates (1).csv')

In [2]:
from sqlalchemy import create_engine

# Crear la conexión a la base de datos PostgreSQL
engine = create_engine('postgresql+psycopg2://postgres:password@localhost:5432/candidatos')

In [3]:
# Guardar el dataset original en una nueva tabla llamada 'candidatos_original'
df_original.to_sql('candidatos_original', engine, if_exists='replace', index=False)

1000